.Resume {
    width: 100%;
    height: 330vh;
    background: white;
    background-size: cover;
    font-family: "Titillium-Web", sans-serif;
    display: flex;
    padding-top: 10vh;
    margin-bottom: 15vh;
}

.resume-row-education {
    /* height: 35%; */
    align-items: baseline;
}

.resume-row-skills {
    /* height: 95%; */
    align-items: baseline;
}

.resume-row-experience {
    /* height: 100%; */
    align-items: baseline;
}

.experience {
    padding-bottom: 5vh;
}

.experience-section {
    text-align: left;
}

.experience-title {
    text-align: left;
}

.subheader {
    color: gray;
}

.date {
    color: gray;
    font-style: italic;
}